@import "../../../theme/styles/variables";

@font-face {
    font-family: Poppins-Regular;
    src: url('../../../theme/styles/fonts/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../../../theme/styles/fonts/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../../../theme/styles/fonts/Poppins-Bold.ttf'); 
  }
  

$chat-item-width: 52px;
$chat-item-show-width: 300px;

.side-chat{
    position: fixed;
    right: -$chat-item-width;
    z-index: 999;
    width: 0;
    top: $top-navbar-height + 1px;    
    .person-search-media{
        height: $chat-person-search-media-height;
        .fa-search{
            font-size: 18px;
            padding: 0px 16px 4px;
            color: #ff6801;
        }        
        .person-search{
            border: none;
            background: rgba(255, 255, 255, 0.15);
            padding: 4px 6px 2px;
            box-shadow: none;
            border-radius: 4px;
            margin-bottom: 8px;
            color: #fff;
        }
    }
    .media{
        position: relative;
        width: 100%;
        right: 0;
        z-index: 9999999;
        padding: 0.5rem;
        padding-bottom: 0.7rem;
        border-radius: 0px !important;
        img{
            width: 45px;
        }
        h6{
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 8px;
        } 
        .status{
            font-size: 12px;
            margin-bottom: 6px;
            margin-right: 20px;
        }
    }
    .chat-list{
         padding-bottom: $top-navbar-height;
         overflow-y: auto !important;
         overflow: visible !important;
         padding-bottom: 45px;
         overflow-y: auto !important;
         overflow: hidden !important;
         height: 100vh;
         background: #324148;; 
        .ps__rail-y{
            z-index: 9999999;
        }
        .media{
            cursor: pointer;
        }
    }
    .chat-window{
        position: absolute;
        top: 0;
        height: 100%;
        width:100%;
        display: block;
        .header{
            height: $chat-window-header-height;
            .back{
                font-size: 18px;
                cursor: pointer;
            }
        } 
        .chat-talk-list{
             height: calc(100vh - (#{$top-navbar-height} + #{$chat-window-header-height} + #{$chat-window-footer-height}));
            .talk-text{
                width: 220px;
                text-overflow: ellipsis;
                overflow: hidden;
            } 
            .ps__rail-y{
                z-index: 9999999;
            }
        } 
        .media{
            right: 0 !important;            
            .media-body{
                background: rgba(255, 255, 255, 0.05);
                &.left:before{
                    content: "";
                    border: 7px solid transparent;
                    border-right-color: rgba(255, 255, 255, 0.05);
                    position: absolute;
                    top: 18px;
                    left: 49px;        
                    flex: 0 !important;            
                }
                &.right:before{
                    content: "";
                    border: 7px solid transparent;
                    border-left-color: rgba(255, 255, 255, 0.05);
                    position: absolute;
                    top: 18px;
                    right: 48px;
                    flex: 0 !important;                       
                }
            }
        }
        .footer{
            position: fixed;
            bottom: 0;
            height: 46px;
            width: 300px;
            input[type='text']{
                border: 1px solid #fff;
            }
        }    
    }  
    &.show{
        right: 0;
        width: $chat-item-show-width;        
    }
    &.show-chat-item{
        width: $chat-item-show-width;       
    }
    &.hoverable{
        &.show{
            width: $chat-item-width;
            &.show-chat-window{
                width: $chat-item-show-width !important;
            } 
        }
        &.show-chat-item{
             width: $chat-item-show-width;
            .media{
                right: -($chat-item-show-width - $chat-item-width); 
                &:hover{
                    right: 0;
                }
            }       
        }
        .chat-list{
            padding-bottom: $top-navbar-height + $chat-person-search-media-height; 
            .ps__rail-y{
                z-index: 0;
            }
        }
    }         
}
.no-pad{
    padding: 0rem !important;
}
.pad{
    padding-right: 0.70rem ;
}
:host ::ng-deep .my_navlink.active{
    background-color: #324148 !important;
    color: #ff6801 !important;
    border: none !important;
    border-radius: 0px !important;
    //border-bottom: 4px solid #ff6801 !important;
}
:host ::ng-deep .my_navlink{
    background-color: #324148 !important;
    color: #a6a6a6 !important; 
    border: none !important;
    border-radius: 0px !important;
    // border-bottom: 4px solid #324148 !important;
}
.pf-img {
     object-fit: cover !important;
       overflow:hidden !important;
       -webkit-border-radius:50px !important;
       -moz-border-radius:50px !important;
       border-radius:50% !important;
       width:35px !important;
       height:35px !important;
   }
   :host ::ng-deep .media{
    align-items: center !important; 
   }
   .side-chat .chat-list .media, .align_cntr{
    align-items: center !important;
}
.mr_0
{
    margin-right: 0.7rem;
}
.right_arr{
    position: absolute;
    right: 10px;
    top: 41px;
    font-size: 10px;
}
.clock_o{
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 10px;
    color: white;
}
.new-chat{
    padding: 5px;;
}
.btn-warn {
    background-color: #ff6801;
    color: #fff;
}

// conversation 
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;
height: 30px;
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}

.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 15%;
}
.received_msg {
  display: inline-block;
  margin:0px 0 10px;
  padding: 0 0 0 3px;
  vertical-align: top;
  width: 80%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 5px;
  color: #646464;
   font-size: 12px;
  margin: 0px;
  padding: 6px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 10px;
  margin: 5px 0 0;
}
.received_withd_msg { width: 80%;}
.mesgs {
  float: left;
  padding: 6px;
  width: 100%;
}

 .sent_msg p {
  background:  #ff6801;
        background: -webkit-linear-gradient(45deg, #ff6801, #ff9148);
        background: -o-linear-gradient(45deg,  #ff6801, #ff9148);
        background: -moz-linear-gradient(45deg,  #ff6801, #ff9148);
        background: linear-gradient(45deg,  #ff6801, #ff9148);
  border-radius: 5px;
  font-size: 12px;
  color: white;
  margin: 0px;
  padding: 6px;
  width: 100%;
}
.outgoing_msg{ overflow:hidden; margin:0px 0 10px;}
.sent_msg {
  float: right;
  width: 80%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 600px;
  overflow-y: auto;
}

// add contact
.new-contact-window{
    position: absolute;
    top: 0;
    height: 100%;
    width:100%;
    display: flex;
    .header{
        height: $chat-window-header-height;
        .back{
            font-size: 18px;
            cursor: pointer;
        }
    } 
    .chat-talk-list{
         height: calc(100vh - (#{$top-navbar-height} + #{$chat-window-header-height} + #{$chat-window-footer-height}));
        .talk-text{
            width: 220px;
            text-overflow: ellipsis;
            overflow: hidden;
        } 
        .ps__rail-y{
            z-index: 9999999;
        }
    } 
    
    .media{
        right: 0 !important;            
        .media-body{
            background: rgba(255, 255, 255, 0.05);
            &.left:before{
                content: "";
                border: 7px solid transparent;
                border-right-color: rgba(255, 255, 255, 0.05);
                position: absolute;
                top: 18px;
                left: 49px;        
                flex: 0 !important;            
            }
            &.right:before{
                content: "";
                border: 7px solid transparent;
                border-left-color: rgba(255, 255, 255, 0.05);
                position: absolute;
                top: 18px;
                right: 48px;
                flex: 0 !important;                       
            }
        }
    }
    .footer{
        position: fixed;
        bottom: 0;
        height: 46px;
        width: 300px;
        input[type='text']{
            border: 1px solid #fff;
        }
    }    
}
.chat-btn{
    width: 80px;
    position: relative;
    padding: 12px;
    // margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .2rem;
    outline: 0;
    /* transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1); */
    will-change: box-shadow,transform;
}
 .new-contact{
    background: rgba(0, 0, 0, 0.8) !important;
    z-index: 99999;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;

 }
    .wrap-contact3 {
       
        width: 250px;
        background:  #ff6801;
        background: -webkit-linear-gradient(45deg, #ff6801, #ff9148);
        background: -o-linear-gradient(45deg,  #ff6801, #ff9148);
        background: -moz-linear-gradient(45deg,  #ff6801, #ff9148);
        background: linear-gradient(45deg,  #ff6801, #ff9148);
        border-radius: 5px;
        overflow: hidden;
        padding: 20px;
        
      }

      .wrap-input3 {
        width: 100%;
        position: relative;
        border-bottom: 2px solid rgba(255,255,255,0.24);
        margin-top: 15px;
      }
      .btn-input3 {
        width: 100%;
        position: relative;
        margin-top: 15px;
      }
      
      .input3 {
        display: block;
        width: 100%;
        background: transparent;
        font-family: Poppins-Regular;
        font-size: 12px;
        color: #fff;
        top:0;
        line-height: 1.2;
        padding: 0 5px;
      }
      
      .focus-input3 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        pointer-events: none;
      }
      
      // .focus-input3::before {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   bottom: -2px;
      //   left: 0;
      //   width: 0;
      //   height: 2px;
      
      //   -webkit-transition: all 0.4s;
      //   -o-transition: all 0.4s;
      //   -moz-transition: all 0.4s;
      //   transition: all 0.4s;
      
      //   background: #fff;
      // }
      
      
      /*---------------------------------------------*/
      input.input3 {
        height: 30px;
      }
      
      
      textarea.input3 {
        min-height: 115px;
        padding-top: 13px;
        padding-bottom: 13px;
      }
      
      
      .input3:focus + .focus-input3::before {
        width: 100%;
      }
      
      .has-val.input3 + .focus-input3::before {
        width: 100%;
      }
      
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: rgba(255,255,255,0.8);}
input:-moz-placeholder { color: rgba(255,255,255,0.8);}
input::-moz-placeholder { color: rgba(255,255,255,0.8);}
input:-ms-input-placeholder { color: rgba(255,255,255,0.8);}

textarea::-webkit-input-placeholder { color: rgba(255,255,255,0.8);}
textarea:-moz-placeholder { color: rgba(255,255,255,0.8);}
textarea::-moz-placeholder { color: rgba(255,255,255,0.8);}
textarea:-ms-input-placeholder { color: rgba(255,255,255,0.8);}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.contact3-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }
  .btn-white {
    background-color: #fff;
    color: #555555;
    margin: 0px 2px 0px 2px
  }
  .btn-white.focus, .btn-white:focus, .btn-white:hover, .btn-white.focus, .btn-white:focus, .btn-white:hover {
    background-color: #fff;
    color: #555555;
    border-color: #7a7a7a;
}

.btn-white.active.focus, .btn-white.active:focus, .btn-white.focus, .btn-white:active.focus, .btn-white:active:focus, .btn-white:active:focus.focus, .btn-white:active:focus:focus, .btn-white:focus {
    outline: 0;
    box-shadow: none!important;
}
.btn-white.focus, .btn-white:focus, .btn-white:hover, .btn-white.focus, .btn-white:focus, .btn-white:hover {
    background-color: #fff;
    color: #555555;
    border-color: #7a7a7a;
}
.btn:focus, .btn:hover {
    box-shadow: 0 14px 26px -12px hsla(0,0%,60%,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px hsla(0,0%,60%,.2);
}

.alert.alert-warning {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
}
.alert.alert-warning {
  background-color: #fff;
  color: #ff6801;
}
.alert {
  border: 0;
  width: 80%;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    font: Poppins-Regular;
    font-size: 10px;
}
.alert-wrap {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: auto;
}
.chatroom-content{
  padding: 0px !important;
  position: relative;
  margin: 0px !important;
  width: 80% !important;
  min-height: 1px;
}
.un-read{
  margin-top: 20px;
  text-align: left;
}
.un-read-count{
  background-color: #ff6801 ;
  border-radius: 100%;
  font-size: 10px;
  width:21px;
  height:21px;
  text-align: center;
  padding: 0.16rem;
  padding-right: 0.18rem ;
  color: whitesmoke;
}
.chatroom-img{
  padding:0px !important;
  position: relative;
  align-items: center;
  margin: 0px !important;
}
.confirm-contact-wrap{
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: auto;
  background-color: white;
}
.confirm-btn {
  border: 0;
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  color:white;
  background:  #ff6801;
        background: -webkit-linear-gradient(45deg, #ff6801, #ff9148);
        background: -o-linear-gradient(45deg,  #ff6801, #ff9148);
        background: -moz-linear-gradient(45deg,  #ff6801, #ff9148);
        background: linear-gradient(45deg,  #ff6801, #ff9148);
  font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    font: Poppins-Regular;
    font-size: 10px;
}
.confirm-contact-card{
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center !important;
}
.fa_red{
      background-color: crimson;
      padding: 3px 5px;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      margin-bottom: 5px;
  }
  .msg-img{
    width: 100%;
    height:130px;
    padding:2px;
    object-fit: cover !important;
    overflow:hidden !important;
    -webkit-border-radius:2px !important;
    -moz-border-radius:2px !important;
  }
  .msg-uploaded-img{
    width: 100%;
    padding:2px;
    object-fit: cover !important;
    overflow:hidden !important;
    border-radius: 10px;
    height: 200px;
  }

  .notify-count{
    min-width: 22px;
    height: 22px;
    line-height: 19px;
    background-color: #ff6801;
    color: white;
    border-radius: 100%;
    position: absolute;
    font-size: 10px;
    text-align: center;
    top: -13px;
    left: 12px;
    padding: 1px 3px;
}
.notify{
  width: auto;
  height: auto;
  color: white;
  border-radius: 100%;
  position: absolute;
  font-size: 10px;
  text-align: center;
  top: -6px;
  left: 12px;
  padding: 1px 3px;
}
  // file upload
  
.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 1px solid #ced4da;border-radius:3px;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#ced4da;;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#9D9D9D;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#ced4da;color:#34495e;cursor:pointer;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-select-icon.active .file-select{border-color:#ff6801;opacity:0.7;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-select-icon.active .file-select .file-select-button{background:#ff6801;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #9D9D9D;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#9D9D9D;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

.p_width{
  width: 190px;
}
.pos-relative{
  position: relative;
}
.hover-option {
  display:none;
}
.received_msg:hover .hover-option {
  display:block;
}
.upload_img:hover .hover-option{
  display: inline-block;
}
.card_foot{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  background-color: #ff6801;
  opacity: 0.6;
}
.fa_foot{
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.pad_btm{
  padding-bottom: 48px;
}
.fa_cross{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}