<div class="tab-pane active" id="comments">
    <div class="list">
        <a *ngFor="let message of messages" href="javascript:void(0);" class="transition">
            <img src="../../../../assets/img/users/default-user.jpg">                    
            <div class="list-content">
                <h3>{{message.notification_title}} <span class="pull-right"><i class="fa fa-clock-o"></i> {{message.notification_utd}}</span></h3>
                <p>{{message.notification_text}}</p>
            </div>
        </a>
    </div> 
</div>
<div class="tab-pane" id="comments2">
    <!-- <div class="list">
        <a *ngFor="let message of messages" href="javascript:void(0);" class="transition">
            <img src="../../../../assets/img/users/user.jpg">                    
            <div class="list-content">
                <h3>{{message.name}} <span class="pull-right"><i class="fa fa-clock-o"></i> {{message.time}}</span></h3>
                <p>{{message.text}}</p>
            </div>
        </a>
    </div>  -->
</div>