<div class="container">
    <div class="row" class="text-center">
        <div id="attendance" style="height: 250px; width: 100%;"></div>
        <ul class="my-ul">
            <li class="small-circle-green"></li>
            <span style="font-size: 10px">Present</span>&nbsp;
            <!-- <li class="small-circle-blue"></li>
            <span style="font-size: 10px">Leave</span>&nbsp; -->
            <li class="small-circle-red"></li>
            <span style="font-size: 10px">Absent</span>&nbsp;
            <li class="small-circle-warning"></li>
            <span style="font-size: 10px">Unmarked</span>&nbsp;
        </ul>
    </div>

</div>