// .register-container{
//     position: absolute;
//     .card{
//         .card-header{
//             width: 80px;
//             height: 80px;
//             margin: 0 auto;
//             margin-top: -40px;
//             border-radius: 50%;
//             font-size: 36px;
//         }
//     }
// }
// .btn{
// 	background-color: #333 !important;
// 	color: #ccc !important;
// }
// h2{
// color: #494949 !important;
// text-align: left !important;
// }
// a {
//     color: #7b7b7b !important;
// }
//  p {
//     color: #000 !important;
// 	margin-bottom: 0 !important;
// }
// .logoo {
// 	width:202px !important;
// 	height:41px !important;
// 	margin: 15px auto 10px auto !important;
// }
// .login-container{
// background-color: #000000 !important;
//  background-image: url("../../../../assets/img/bg/image2.jpg");
// }

// .register-head{
// 	font-weight: 400 !important;
// 	letter-spacing: -1px;
// 	text-align: left;
// 	margin-bottom: 0px;
// 	color: #494949;
// }
// // .btn-active{
// // 	cursor: pointer !important;
	
// // }
// // .btn-active:hover{
// // 	background-color: #222 !important;
// // }
// .margin-top-rem{
// 	margin-top: 0.5rem;
// }
// .cust-card{
// 	background-color: #fff !important;
// 	opacity: 0.90;
// 	border-top: 5px solid #ff6801;
// 	border-radius: 5px;
// 	}

// .slideshow,
// .slideshow:after {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     left: 0px;
//     z-index: 0;
// }
// .slideshow:after {
//     content: '';
// }
// .slideshow li span {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     color: transparent;
//     background-size: cover;
//     background-position: 50% 50%;
//     background-repeat: none;
//     opacity: 0;
//     z-index: 0;
// 	-webkit-backface-visibility: hidden;
//     -webkit-animation: imageAnimation 36s linear infinite 0s;
//     -moz-animation: imageAnimation 36s linear infinite 0s;
//     -o-animation: imageAnimation 36s linear infinite 0s;
//     -ms-animation: imageAnimation 36s linear infinite 0s;
//     animation: imageAnimation 36s linear infinite 0s;
// }
// .slideshow li div {
//     z-index: 1000;
//     position: absolute;
//     bottom: 30px;
//     left: 0px;
//     width: 100%;
//     text-align: center;
//     opacity: 0;
//     -webkit-animation: titleAnimation 36s linear infinite 0s;
//     -moz-animation: titleAnimation 36s linear infinite 0s;
//     -o-animation: titleAnimation 36s linear infinite 0s;
//     -ms-animation: titleAnimation 36s linear infinite 0s;
//     animation: titleAnimation 36s linear infinite 0s;
// }
// .myselect{
//     width: 100%;
//     position: absolute;
//     z-index: 55;
// }
// select{
//     border: 1px solid #ced4da !important;
//     border-radius: 3px;
//     padding: 5px;
//     overflow-y: auto;
// }
// .slideshow li div h3 {
//   font-family: "helvetica neue", helvetica;
//   text-transform: uppercase;
//   font-size: 80px;
//   padding: 0;
//   line-height: 200px;
// 	color: rgba(255,255,255, 0.8);
// }
// .slideshow li:nth-child(1) span { background-image: url("../../../../assets/img/bg/image2.jpg");}
// .slideshow li:nth-child(2) span {
//     background-image:  url("../../../../assets/img/bg/image6.jpg");
//     -webkit-animation-delay: 6s;
//     -moz-animation-delay: 6s;
//     -o-animation-delay: 6s;
//     -ms-animation-delay: 6s;
//     animation-delay: 6s;
// }
// .slideshow li:nth-child(3) span {
//     background-image:  url("../../../../assets/img/bg/image1.jpg");;
//     -webkit-animation-delay: 12s;
//     -moz-animation-delay: 12s;
//     -o-animation-delay: 12s;
//     -ms-animation-delay: 12s;
//     animation-delay: 12s;
// }
// .slideshow li:nth-child(4) span {
//     background-image:  url("../../../../assets/img/bg/image3.jpg");
//     -webkit-animation-delay: 18s;
//     -moz-animation-delay: 18s;
//     -o-animation-delay: 18s;
//     -ms-animation-delay: 18s;
//     animation-delay: 18s;
// }
// .slideshow li:nth-child(5) span {
//     background-image: url("../../../../assets/img/bg/image5.jpg");
//     -webkit-animation-delay: 24s;
//     -moz-animation-delay: 24s;
//     -o-animation-delay: 24s;
//     -ms-animation-delay: 24s;
//     animation-delay: 24s;
// }
// .slideshow li:nth-child(6) span {
//     background-image: url("../../../../assets/img/bg/image5.jpg");
//     -webkit-animation-delay: 30s;
//     -moz-animation-delay: 30s;
//     -o-animation-delay: 30s;
//     -ms-animation-delay: 30s;
//     animation-delay: 30s;
// }
// .slideshow li:nth-child(2) div {
//     -webkit-animation-delay: 6s;
//     -moz-animation-delay: 6s;
//     -o-animation-delay: 6s;
//     -ms-animation-delay: 6s;
//     animation-delay: 6s;
// }
// .slideshow li:nth-child(3) div {
//     -webkit-animation-delay: 12s;
//     -moz-animation-delay: 12s;
//     -o-animation-delay: 12s;
//     -ms-animation-delay: 12s;
//     animation-delay: 12s;
// }
// .slideshow li:nth-child(4) div {
//     -webkit-animation-delay: 18s;
//     -moz-animation-delay: 18s;
//     -o-animation-delay: 18s;
//     -ms-animation-delay: 18s;
//     animation-delay: 18s;
// }
// .slideshow li:nth-child(5) div {
//     -webkit-animation-delay: 24s;
//     -moz-animation-delay: 24s;
//     -o-animation-delay: 24s;
//     -ms-animation-delay: 24s;
//     animation-delay: 24s;
// }
// .slideshow li:nth-child(6) div {
//     -webkit-animation-delay: 30s;
//     -moz-animation-delay: 30s;
//     -o-animation-delay: 30s;
//     -ms-animation-delay: 30s;
//     animation-delay: 30s;
// }
// /* Animation for the slideshow images */
// @-webkit-keyframes imageAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    -webkit-animation-timing-function: ease-in;
// 	}
// 	8% {
// 	    opacity: 1;
// 	    -webkit-transform: scale(1.05);
// 	    -webkit-animation-timing-function: ease-out;
// 	}
// 	17% {
// 	    opacity: 1;
// 	    -webkit-transform: scale(1.1);
// 	}
// 	25% {
// 	    opacity: 0;
// 	    -webkit-transform: scale(1.1);
// 	}
// 	100% { opacity: 0 }
// }
// @-moz-keyframes imageAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    -moz-animation-timing-function: ease-in;
// 	}
// 	8% {
// 	    opacity: 1;
// 	    -moz-transform: scale(1.05);
// 	    -moz-animation-timing-function: ease-out;
// 	}
// 	17% {
// 	    opacity: 1;
// 	    -moz-transform: scale(1.1);
// 	}
// 	25% {
// 	    opacity: 0;
// 	    -moz-transform: scale(1.1);
// 	}
// 	100% { opacity: 0 }
// }
// @-o-keyframes imageAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    -o-animation-timing-function: ease-in;
// 	}
// 	8% {
// 	    opacity: 1;
// 	    -o-transform: scale(1.05);
// 	    -o-animation-timing-function: ease-out;
// 	}
// 	17% {
// 	    opacity: 1;
// 	    -o-transform: scale(1.1);
// 	}
// 	25% {
// 	    opacity: 0;
// 	    -o-transform: scale(1.1);
// 	}
// 	100% { opacity: 0 }
// }
// @-ms-keyframes imageAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    -ms-animation-timing-function: ease-in;
// 	}
// 	8% {
// 	    opacity: 1;
// 	    -ms-transform: scale(1.05);
// 	    -ms-animation-timing-function: ease-out;
// 	}
// 	17% {
// 	    opacity: 1;
// 	    -ms-transform: scale(1.1);
// 	}
// 	25% {
// 	    opacity: 0;
// 	    -ms-transform: scale(1.1);
// 	}
// 	100% { opacity: 0 }
// }
// @keyframes imageAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    animation-timing-function: ease-in;
// 	}
// 	8% {
// 	    opacity: 1;
// 	    transform: scale(1.05);
// 	    animation-timing-function: ease-out;
// 	}
// 	17% {
// 	    opacity: 1;
// 	    transform: scale(1.1);
// 	}
// 	25% {
// 	    opacity: 0;
// 	    transform: scale(1.1);
// 	}
// 	100% { opacity: 0 }
// }
// /* Animation for the title */
// @-webkit-keyframes titleAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    -webkit-transform: translateY(200px);
// 	}
// 	8% {
// 	    opacity: 1;
// 	    -webkit-transform: translateY(0px);
// 	}
// 	17% {
// 	    opacity: 1;
// 	    -webkit-transform: scale(1);
// 	}
// 	19% { opacity: 0 }
// 	25% {
// 	    opacity: 0;
// 	    -webkit-transform: scale(10);
// 	}
// 	100% { opacity: 0 }
// }
// @-moz-keyframes titleAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    -moz-transform: translateY(200px);
// 	}
// 	8% {
// 	    opacity: 1;
// 	    -moz-transform: translateY(0px);
// 	}
// 	17% {
// 	    opacity: 1;
// 	    -moz-transform: scale(1);
// 	}
// 	19% { opacity: 0 }
// 	25% {
// 	    opacity: 0;
// 	    -moz-transform: scale(10);
// 	}
// 	100% { opacity: 0 }
// }
// @-o-keyframes titleAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    -o-transform: translateY(200px);
// 	}
// 	8% {
// 	    opacity: 1;
// 	    -o-transform: translateY(0px);
// 	}
// 	17% {
// 	    opacity: 1;
// 	    -o-transform: scale(1);
// 	}
// 	19% { opacity: 0 }
// 	25% {
// 	    opacity: 0;
// 	    -o-transform: scale(10);
// 	}
// 	100% { opacity: 0 }
// }
// @-ms-keyframes titleAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    -ms-transform: translateY(200px);
// 	}
// 	8% {
// 	    opacity: 1;
// 	    -ms-transform: translateY(0px);
// 	}
// 	17% {
// 	    opacity: 1;
// 	    -ms-transform: scale(1);
// 	}
// 	19% { opacity: 0 }
// 	25% {
// 	    opacity: 0;
// 	    -webkit-transform: scale(10);
// 	}
// 	100% { opacity: 0 }
// }
// @keyframes titleAnimation { 
// 	0% {
// 	    opacity: 0;
// 	    transform: translateY(200px);
// 	}
// 	8% {
// 	    opacity: 1;
// 	    transform: translateY(0px);
// 	}
// 	17% {
// 	    opacity: 1;
// 	    transform: scale(1);
// 	}
// 	19% { opacity: 0 }
// 	25% {
// 	    opacity: 0;
// 	    transform: scale(10);
// 	}
// 	100% { opacity: 0 }
// }
// /* Show at least something when animations not supported */
// .no-cssanimations .slideshow li span{
// 	opacity: 1;
// }
// @media screen and (max-width: 1140px) { 
// 	.slideshow li div h3 { font-size: 100px }
// }
// @media screen and (max-width: 600px) { 
// 	.slideshow li div h3 { font-size: 50px }
// }

// .orange-button{
//     cursor: pointer;
//     color: #ff6801;
//     border:1px solid #ff6801;
//     background-color: transparent;
//     padding: 0.375rem 0.75rem;
// 	font-size: 1rem;
// 	width: 100%;
//     line-height: 1.5;
//     border-radius: 0.25rem;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
// }
// .orange-button:hover{
//     color: #fff;
//     background-color: #ff6801;
//     border-color: #ff6801;
//     opacity: 0.8;
// }
// .gray-button{
//     color: #9D9D9D;
//     border:1px solid #9D9D9D;
//     background-color: transparent;
//     padding: 0.375rem 0.75rem;
// 	font-size: 1rem;
// 	width: 100%;
//     line-height: 1.5;
//     border-radius: 0.25rem;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
// }






@import "../../../theme/styles/bootstrap.min.scss";
@import "../../../theme/styles/font-awesome.min.scss";
@import "../../../theme/styles/font.scss";
.bg_img{
  background-image: url(../../../../assets/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web',sans-serif;
}


body, html {
  background-color: #f0f2f5;
  background-image: url(../../../../assets/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  font-size:1.3em !important;
  font-weight: 400;
  color: #44525f;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d385e;
}

a {
  color: #4f77ff;
  &:focus, &:hover {
    color: #4f77ff;
  }
}

.btn-primary {
  background-color: #3E50B4;
  border-color: #3E50B4;
    
  &.active {
    background-color: #3E50B4;
  border-color: #3E50B4;
  }
  &:active {
    background-color: #3E50B4;
  border-color: #3E50B4;
    &:focus, &:hover {
      background-color: #2F3E9E;
      border-color: #2F3E9E;
    }
  }
  &:focus, &:hover {
    background-color: #2F3E9E;
    border-color: #2F3E9E;
  }
}

.authfy-login .btn.btn-lg {
  border-radius: 3px;
}
.authfy-login .auth-title {
  font-weight: 700 !important;
}
.brand-logo {
  margin-top: 0;
}

.authfy-container {
  margin-top: 97px;
  margin-bottom: 97px;
}

.authfy-panel-left {
  background-color: #333;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 3px 6px #1d2030;
}

.authfy-panel-right {
  background-color: #efefef;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 2px 6px 0 #1d2030;
  box-shadow: 0 2px 6px 0 #1d2030;
}

.authfy-login {
  height: 460px;
}

.authfy-panel-left .brand-col {
  height: 460px;
  display: table;
  width: 100%;
  padding: 25px 15px;
  .headline {
    display: table-cell;
    vertical-align: middle;
    h1, h2, h3 {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
    }
  }
}

.authfy-login {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.authfy-panel {
  padding: 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  opacity: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  .authfy-heading {
    margin-bottom: 30px;
  }
}

.authfy-login {
  .auth-title {
    font-weight: 700;
  }
  .authfy-panel.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

.brand-col .social-buttons {
  a {
    color: #fff;
    margin-top: 15px;
    &:hover {
      color: #fff;
      opacity: .9;
    }
  }
  .btn-facebook {
    background: #3b5998;
  }
  .btn-twitter {
    background: #00aced;
  }
  .btn-google {
    background: #c32f10;
  }
  a > span {
    padding-left: 5px;
  }
}

.panel-login {
  margin-top: 20px;
  .remember-row {
    margin-bottom: 10px;
    label {
      font-weight: 400;
      position: relative;
      cursor: pointer;
      color: #666;
      padding-left: 24px;
    }
  }
}

.authfy-login .forgotPwd {
  text-align: right;
  margin-top: 10px;
}
.input_color{
  color: #333;
}
.panel-forgot .form-control, .panel-login .form-control, .panel-signup .form-control {
  background-color: #efefef;
  font-size: 18px;
  height: 50px;
//  margin-bottom: 20px;
  padding: 12px 22px;
  border-radius: 3px;
  border: 1px solid #bcc2ce;
  outline: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.my_boxshadow{
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1) !important;	
}
.my_boxshadow:focus{
	box-shadow: none !important;
}
.authfy-panel.panel-forgot {
  padding-top: 40px;
}

.panel-forgot .form-control:focus, .panel-login .form-control:focus, .panel-signup .form-control:focus {
  border-color: #4f77ff;
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.pwdMask {
  position: relative;
  .pwd-toggle {
    color: #ccc;
    position: absolute;
    z-index: 2;
  }
}

.panel-login .pwdMask .pwd-toggle, .panel-signup .pwdMask .pwd-toggle {
  top: 15px;
  right: 15px;
}

.pwdMask .pwd-toggle {
  &:focus, &:hover {
    cursor: pointer;
  }
  &.fa-eye, &:focus, &:hover {
    color: #4f77ff;
  }
}

.panel-signup .term-policy a {
  text-decoration: underline;
}

.checkbox input[type=checkbox] {
  position: absolute;
  right: 9000px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  + .label-text {
    &:after {
      font-size: 11px;
      display: inline-block;
      width: 17px;
      height: 17px;
      padding: 2px;
      margin-left: 0;
      position: absolute;
      top: 2px;
      left: 0;
    }
    &:before {
      font-size: 11px;
      display: inline-block;
      width: 17px;
      height: 17px;
      padding: 2px;
      margin-left: 0;
      position: absolute;
      top: 2px;
      left: 0;
      content: "";
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 3px;
      cursor: pointer;
      -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
      transition: border .15s ease-in-out,color .15s ease-in-out;
    }
    &:after {
      background-color: #4f77ff;
      color: #fff;
      border-radius: 2px;
      border-color: #4f77ff;
      line-height: 1.4;
    }
  }
  &:focus + .label-text:before {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
  }
  &:checked + .label-text:after {
    font-family: FontAwesome;
    content: "\f00c";
  }
}

@media (min-width: 768px) {
  .authfy-panel {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .authfy-panel-left, .authfy-panel-right {
    box-shadow: none;
  }
  .authfy-panel-left {
    border-radius: 4px 4px 0 0;
  }
  .authfy-panel-right {
    border-radius: 0 0 4px 4px;
  }
  .authfy-panel-left .brand-col {
    height: 300px;
    text-align: center;
  }
  .term-policy {
    font-size: 75%;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .authfy-login .authfy-panel {
    padding: 20px;
  }
  .panel-login .remember-row {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .authfy-login {
    height: 480px;
  }
  .authfy-heading p {
    font-size: 14px;
  }
  .remember-row .col-sm-6 {
    width: 100%;
  }
  .authfy-login .forgotPwd {
    text-align: left;
    margin-top: 0;
  }
}


.col-lg-1[_ngcontent-c1], .col-lg-10[_ngcontent-c1], .col-lg-11[_ngcontent-c1], .col-lg-12[_ngcontent-c1], .col-lg-2[_ngcontent-c1], .col-lg-3[_ngcontent-c1], .col-lg-4[_ngcontent-c1], .col-lg-5[_ngcontent-c1], .col-lg-6[_ngcontent-c1], .col-lg-7[_ngcontent-c1], .col-lg-8[_ngcontent-c1], .col-lg-9[_ngcontent-c1], .col-md-1[_ngcontent-c1], .col-md-10[_ngcontent-c1], .col-md-11[_ngcontent-c1], .col-md-12[_ngcontent-c1], .col-md-2[_ngcontent-c1], .col-md-3[_ngcontent-c1], .col-md-4[_ngcontent-c1], .col-md-5[_ngcontent-c1], .col-md-6[_ngcontent-c1], .col-md-7[_ngcontent-c1], .col-md-8[_ngcontent-c1], .col-md-9[_ngcontent-c1], .col-sm-1[_ngcontent-c1], .col-sm-10[_ngcontent-c1], .col-sm-11[_ngcontent-c1], .col-sm-12[_ngcontent-c1], .col-sm-2[_ngcontent-c1], .col-sm-3[_ngcontent-c1], .col-sm-4[_ngcontent-c1], .col-sm-5[_ngcontent-c1], .col-sm-6[_ngcontent-c1], .col-sm-7[_ngcontent-c1], .col-sm-8[_ngcontent-c1], .col-sm-9[_ngcontent-c1], .col-xs-1[_ngcontent-c1], .col-xs-10[_ngcontent-c1], .col-xs-11[_ngcontent-c1], .col-xs-12[_ngcontent-c1], .col-xs-2[_ngcontent-c1], .col-xs-3[_ngcontent-c1], .col-xs-4[_ngcontent-c1], .col-xs-5[_ngcontent-c1], .col-xs-6[_ngcontent-c1], .col-xs-7[_ngcontent-c1], .col-xs-8[_ngcontent-c1], .col-xs-9[_ngcontent-c1] {
    position: relative;
    min-height: 5px;
    padding-bottom: -1px;
    padding-right: 15px;
    padding-left: 23px !important;
    padding-top: -4px;
}

img[_ngcontent-c1] {
    vertical-align: middle;
    margin-left: -9px;
}


.panel-login[_ngcontent-c1] {
    margin-top: 20px;
    margin-left: -8px;
}
@media only screen and (min-width: 768px) and (max-width: 992px){
  .authfy-panel-left, .authfy-panel-right{
    float: left;
  }
}