<!-- <ul class="slideshow">

  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>
<div class="d-flex justify-content-center align-items-center w-100 h-100 register-container">
  <div class="col-xl-4 col-md-6 col-10">
 
      <div class="card box-shadow cust-card">
        <div class="logoo">
          <img src="{{logo}}" />
          </div>
          <div class="card-body text-center pb-1">
              <h5 class="register-head">Set Password</h5>
              <form  name = "form" #f ="ngForm" (ngSubmit)="onSubmit()" class="text-left margin-top-rem" novalidate>
                  <div class="form-group">

                      <input name= "password" class= "form-control validation-field" placeholder= "Password" type= "password"
                        [(ngModel)]="model.password" [ngClass] = "{'is-invalid': f.submitted && pass.invalid}" #pass= "ngModel" required minlength="8" /> 

                      <small class="text-danger" *ngIf="pass.touched && pass.invalid" >
                          <span *ngIf="pass.errors.required">Password is required</span>
                          <span *ngIf="pass.errors.minlength">Minimum of 8 characters</span>
                      </small>  

                  </div>
                  <div class="form-group">

                    <input name= "confirmpassword" class= "form-control validation-field" placeholder= "Confirm Password" type= "password"
                      [(ngModel)]="model.confirmpassword" [ngClass] = "{'is-invalid': f.submitted && Cpass.invalid}" #Cpass= "ngModel" required validateEqual="password"/> 

                    <small class="text-danger" *ngIf="Cpass.touched && Cpass.invalid" >
                        <span *ngIf="Cpass.errors.required">Confirm Password is required</span>
                        <span *ngIf="!validateEqual">Enter the same password</span>
                    </small>  

                </div>   
                <!-- org_TZ 
                <div class="form-group">
                  <!-- <p>Organization TimeZone</p> 
                  <select class="form-control" name = "timeZone" #timezone="ngModel" [(ngModel)]="model.TimeZone" required>
                    <option value="" disabled selected>Select TimeZone</option>
                    <option *ngFor="let item of timeZones" [value] = "item.time_zone"> {{item.time_zone}} <span>({{item.offset}})</span></option> 
                  </select>
                  <small class="text-danger" *ngIf="timezone.touched && timezone.invalid" >
                    <span *ngIf="Cpass.errors.required">TimeZone is required</span>
                </small>  
                </div>         
                  <div class="form-group">

                      <button *ngIf="f.form.valid" [disabled]="!f.form.valid" [ngClass]="{'btn-active': f.form.valid}" type="submit" class="orange-button">Confirm Password</button>
                      <button *ngIf="!f.form.valid" [disabled]="!f.form.valid" [ngClass]="{'btn-active': f.form.valid}" type="bitton" class="gray-button">Confirm Password</button>
                  </div>
              </form>  
          </div>
      </div>
  </div>
</div> -->



<div class="bg_img">
  <div class="container-fluid">
    <div class="row">
      <div
        class="authfy-container col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
        <div class="col-sm-5 authfy-panel-left">

          <div class="brand-col">

            <div class="headline">
              <!-- brand-logo start -->
              <div class="brand-logo">
                <img [src]="loginLogo" width="210" alt="brand-logo">
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-7 authfy-panel-right">

          <!-- authfy-login start -->
          <div class="authfy-login">

            <!-- panel-login start -->
            <div class="authfy-panel panel-login text-center active">

              <div class="authfy-heading">
                <h3 class="auth-title">Set Your Password</h3>
              </div>
              <div class="row">

                <div class="col-xs-12 col-sm-12">

                  <form name="form" name="form" #f="ngForm" (ngSubmit)="onSubmit()" class="text-left margin-top-rem"
                    novalidate>

                    <div class="form-group">
                      <input name="password" class="form-control validation-field input_color" placeholder="Password"
                        type="password" [(ngModel)]="model.password"
                        [ngClass]="{'is-invalid': f.submitted && pass.invalid}" #pass="ngModel" required
                        minlength="8" />

                      <small class="text-danger" *ngIf="pass.touched && pass.invalid">
                        <span *ngIf="pass.errors.required">Password is required</span>
                        <span *ngIf="pass.errors.minlength">Minimum of 8 characters</span>
                      </small>
                    </div>

                    <div class="form-group">
                      <input name="confirmpassword" class="form-control validation-field input_color" placeholder="Confirm Password"
                        type="password" [(ngModel)]="model.confirmpassword"
                        [ngClass]="{'is-invalid': f.submitted && Cpass.invalid}" #Cpass="ngModel" required
                        validateEqual="password" />

                      <small class="text-danger" *ngIf="Cpass.touched && Cpass.invalid">
                        <span *ngIf="Cpass.errors.required">Confirm Password is required</span>
                        <span *ngIf="!validateEqual">Enter the same password</span>
                      </small>
                    </div>

                    <div class="form-group">
                      <select class="form-control my_boxshadow" name="timeZone" #timezone="ngModel" [(ngModel)]="model.TimeZone"
                        required>
                        <option value="" disabled selected >Select TimeZone</option>
                        <option *ngFor="let item of timeZones" [value]="item.time_zone"> {{item.time_zone}}
                          <span>({{item.offset}})</span></option>
                      </select>
                      <small class="text-danger" *ngIf="timezone.touched && timezone.invalid">
                        <span *ngIf="Cpass.errors.required">TimeZone is required</span>
                      </small>
                    </div>
                    <div class="form-group">
                      <button [disabled]="!f.form.valid" [ngClass]="{'btn-active': f.form.valid}" class="btn btn-lg btn-primary btn-block" type="submit">Save Password</button>
                    </div>
                  </form>
                </div>
              </div>
            </div> <!-- ./panel-login -->
          </div> <!-- ./authfy-login -->
        </div>
      </div>
    </div> <!-- ./row -->
  </div> <!-- ./container -->
</div>