<ul class="slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>
<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-6 col-10">
	
	
        <div class="card box-shadow cust-card">
            <div class="logoo">
                <img src="../../../assets/img/logo/logo-big.png" />
                </div>
            <div class="card-body text-center pb-1">
                <br>
                <h5 class="register-head">{{verifymsg}}...</h5> 
                <br/>
            </div>
        </div>
    </div>
</div>

       