<div class="container">
    <div class="row" class="text-center" style="">
        <div id="Time Out" style="height: 250px; width: 100%;"></div>
        <ul class="my-ul">
            <li class="small-circle-green"></li>
            <span style="font-size: 10px">In Time</span>&nbsp;
            <li class="small-circle-blue"></li>
            <span style="font-size: 10px">Early</span>&nbsp;
            <li class="small-circle-red"></li>
            <span style="font-size: 10px">Late</span>&nbsp;
            <li class="small-circle-warning"></li>
            <span style="font-size: 10px">No record(s)</span> &nbsp;
        </ul>
    </div>

</div>