<div class="authfy-panel panel-forgot active h_100">
  <div class="row align_cn">
    <div class="col-xs-12 col-sm-12 space">
      <div class="authfy-heading">
        <h3 class="auth-title">Recover your password</h3>
      </div>
      <form *ngIf="hideShowRecover" name="form" #f="ngForm" (ngSubmit)="onSubmit()" class="text-left margin-top-rem"
        novalidate>
        <div class="form-group">
          <input name="email" class="form-control validation-field"
          [ngClass]="{'is-invalid': f.submitted && email.invalid}"
           placeholder="Enter your email/Mobile number" type="text"
            [(ngModel)]="model.Email" #email="ngModel" required />
          <small class="text-danger" *ngIf="email.touched && email.invalid">
            <span *ngIf="email.errors.required">Email/Mobile number is required</span>
           
          </small>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-lg btn-danger btn-block" [disabled]="!f.form.valid"
                [ngClass]="{'btn-active': f.form.valid}" type="submit">Request Verification Code</button>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-lg btn-danger btn-block" type="button" 
                (click)="verificationCode()">Enter Verification Code</button>
            </div>
          </div>
        </div>
      </form>
      <form *ngIf="hideShowVerify" name="form" #ff="ngForm" (ngSubmit)="onSubmitChange()"
        class="text-left margin-top-rem">
        <div class="form-group">
          <input name="email" class="form-control validation-field"
            [ngClass]="{'is-invalid': ff.submitted && email.invalid}" placeholder="Enter your email/Mobile number" type="text"
            [(ngModel)]="model.Email" #email="ngModel" required/>
          <small class="text-danger" *ngIf="email.touched && email.invalid">
            <span *ngIf="email.errors.required">Email/Mobile number is required</span>
          
          </small>
        </div>
        <div class="form-group">
          <input class="form-control validation-field" [(ngModel)]="model.verificationCode" #verificationCode="ngModel"
            [ngClass]="{'is-invalid': ff.submitted && verificationCode.invalid}" placeholder="Enter Verification Code"
            name="verificationCode" 
            type="text" required/>
            <small class="text-danger" *ngIf="verificationCode.touched && verificationCode.invalid">
              <span *ngIf="verificationCode.errors.required">VerificationCode is required</span>
             
            </small>
        </div>
        <div class="form-group">
          <input class="form-control validation-field" [(ngModel)]="model.newPass" #newPass="ngModel"
            [ngClass]="{'is-invalid': ff.submitted && newPass.invalid}" placeholder="Password" type="password"
            name="newPass" 
            required />
            <small class="text-danger" *ngIf="newPass.touched && newPass.invalid">
              <span *ngIf="verificationCode.errors.required">Password is required</span>
             
            </small>
        </div>
        <div class="form-group">
          <input class="form-control validation-field" [(ngModel)]="model.confirmPass" #confirmPass="ngModel"
            [ngClass]="{'is-invalid': ff.submitted && confirmPass.invalid}" placeholder="Confirm Password"
  
            name="confirmPass" 
            type="password" required/>
            <small class="text-danger" *ngIf="confirmPass.touched && confirmPass.invalid">
              <span *ngIf="verificationCode.errors.required">Confirm Password is required</span>
             
            </small>
        </div>

        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" [disabled]="!ff.form.valid"
            [ngClass]="{'btn-active': ff.form.valid}" type="submit">Submit</button>
        </div>
      </form>
      <a class="lnk-toggler cursr" data-panel=".panel-login" (click)='showSignInClicked()'>Already have an account?</a>
    </div>
  </div>
</div>