.authfy-panel .authfy-heading {
    margin-bottom: 30px !important;
}
.authfy-login .auth-title {
    font-weight: 700 !important;
}
h3{
    color: #2d385e;
    font-family: 'Titillium Web',sans-serif;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-weight: 700 !important;
}
.cursr{
    cursor: pointer;
}
.panel-forgot .form-control{
    background-color: #efefef;
    color: #333;
    font-size: 18px;
    height: 50px;
    margin-bottom: 20px;
    padding: 12px 22px;
    border-radius: 3px;
    border: 1px solid #bcc2ce;
    outline: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 0 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 0 2px 0 rgba(0,0,0,.1);
}
a {
    color: #4f77ff !important;
}
.space{
    padding: 38px 38px 0 38px;
}
p {
    margin: 0 0 10px;
    font-size: 16px;
}
.panel-forgot .form-control, .panel-login .form-control, .panel-signup .form-control {
    background-color: #efefef;
    color: #333;
    font-size: 18px;
    height: 50px;
    margin-bottom: 20px;
    padding: 12px 22px;
    border-radius: 3px;
    border: 1px solid #bcc2ce;
    outline: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 0 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 0 2px 0 rgba(0,0,0,.1);
}
.authfy-login .btn.btn-lg {
    border-radius: 3px;
    box-shadow: 0 2px 3px #9c9c9c;
}
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover {
    background-color: #486ff2;
    border-color: #486ff2;
}
.space{
    padding: 38px 38px 0 38px;
}
.btn-inverse{
    color: #fff;
    background-color: #292b2c;
    border: 1px solid #292b2c;
    }
    .btn-inverse:hover{
    background-color: #1c1e1f;
    border: 1px solid #1c1e1f;
    }
    .btn-danger{
    color: #fff;
    background-color: #dd1b16;
    border-color: #dd1b16;
    }
    .btn-danger:hover{
    background-color: #bb0b05;
    border-color: #bb0b05;
    }