
.white-div{
    margin-bottom: 8px;
    padding: 15px 14px;
    box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3);
    background-color: white;
    border-radius: 3px;
}
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
.choose-pkg{
    color: #6c757d !important;
    margin-bottom: 15px;
    float: none !important;
}
agm-map {
    height: 400px !important;
}
.gm-style-iw {
    width: auto; 
    min-height: auto;
    }
    :host ::ng-deep    button.close{
        outline: none !important;
    }
    .orng-btn{
        cursor: pointer;
        color: #ff6801;
        border: 1px solid #ff6801;
        background-color: transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        box-shadow: none !important;
        outline: none !important;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .orng-btn:hover{
        color: white !important;
        border: 1px solid #ff6801 !important;
        background: #ff6801 !important;
    }