<div class="container">
    <div class="row">
        <div id="Time In" style="height: 250px; width: 100%;"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ul class="my-ul">
                <li class="small-circle-green"></li>
                <span style="font-size: 10px">In Time</span>&nbsp;
                <li class="small-circle-blue"></li>
                <span style="font-size: 10px">Early</span>&nbsp;
                <li class="small-circle-red"></li>
                <span style="font-size: 10px">Late</span>&nbsp;
                <li class="small-circle-warning"></li>
                <span style="font-size: 10px">No record(s)</span> &nbsp;
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>